body{
  width:960px;
  margin:15px auto;
  font-family: Arial, "MS Trebuchet", sans-serif;
}

p{
  margin:0 0 20px 0;
}

p, li{
  line-height: 20px
}

header#page_header{
  width: 100%;
  text-align: center;
}

header#pageheader nav ul, #page_header nav ul li{
  list-style: none;
  margin: 0 20px 0 0;
  padding: 0;
  text-align: center;
}

footer#page_footer{
  clear: both;
  width: 100%;
  display: block;
  text-align: center;
}

#page_header nav ul li, footer#page_footer nav ul li{
  padding: 0;
  margin: 0 20px 0 0;
  display: inline;
  text-align: center
}


footer{

}

section#sidebar{
  float: right;
  width: 25%;
}

section#posts{
  float:left;
  width: 74%;
}
